/* https://primer.style/primitives/colors */

:root {
  /* Slate */
  --color-gray-50: #f8fafc;
  --color-gray-100: #f1f5f9;
  --color-gray-200: #e2e8f0;
  --color-gray-300: #cbd5e1;
  --color-gray-400: #94a3b8;
  --color-gray-500: #64748b;
  --color-gray-600: #475569;
  --color-gray-700: #334155;
  --color-gray-800: #1e293b;
  --color-gray-900: #0f172a;
  --color-gray-950: #020617;
  /* Sky */
  --color-blue-50: #f0f9ff;
  --color-blue-100: #e0f2fe;
  --color-blue-200: #bae6fd;
  --color-blue-300: #7dd3fc;
  --color-blue-400: #38bdf8;
  --color-blue-500: #0ea5e9;
  --color-blue-600: #0284c7;
  --color-blue-700: #0369a1;
  --color-blue-800: #075985;
  --color-blue-900: #0c4a6e;
  --color-blue-950: #082f49;
  /* Red */
  --color-red-50: #fef2f2;
  --color-red-100: #fee2e2;
  --color-red-200: #fecaca;
  --color-red-300: #fca5a5;
  --color-red-400: #f87171;
  --color-red-500: #ef4444;
  --color-red-600: #dc2626;
  --color-red-700: #b91c1c;
  --color-red-800: #991b1b;
  --color-red-900: #7f1d1d;
  --color-red-950: #450a0a;
  /* Emerald */
  --color-green-50: #ecfdf5;
  --color-green-100: #d1fae5;
  --color-green-200: #a7f3d0;
  --color-green-300: #6ee7b7;
  --color-green-400: #34d399;
  --color-green-500: #10b981;
  --color-green-600: #059669;
  --color-green-700: #047857;
  --color-green-800: #065f46;
  --color-green-900: #064e3b;
  --color-green-950: #022c22;
  /* Amber */
  --color-yellow-50: #fffbeb;
  --color-yellow-100: #fef3c7;
  --color-yellow-200: #fde68a;
  --color-yellow-300: #fcd34d;
  --color-yellow-400: #fbbf24;
  --color-yellow-500: #f59e0b;
  --color-yellow-600: #d97706;
  --color-yellow-700: #b45309;
  --color-yellow-800: #92400e;
  --color-yellow-900: #78350f;
  --color-yellow-950: #451a03;
}

[data-theme='light'] {
  --color-fg-default: var(--color-gray-900);
  --color-fg-muted: var(--color-gray-600);
  --color-fg-subtle: var(--color-gray-500);
  --color-fg-on-emphasis: #fff;
  --color-canvas-default: #fff;
  --color-canvas-overlay: #fff;
  --color-canvas-inset: var(--color-gray-50);
  --color-canvas-subtle: var(--color-gray-50);
  --color-neutral-emphasis-plus: var(--color-gray-800);
  --color-neutral-emphasis: var(--color-gray-700);
  --color-neutral-muted: var(--color-gray-100);
  --color-neutral-subtle: var(--color-gray-50);
  --color-accent-fg: var(--color-blue-500);
  --color-accent-emphasis: var(--color-blue-500);
  --color-accent-muted: var(--color-blue-200);
  --color-accent-subtle: var(--color-blue-100);
  --color-success-fg: var(--color-green-500);
  --color-success-emphasis: var(--color-green-500);
  --color-success-muted: var(--color-green-200);
  --color-success-subtle: var(--color-green-100);
  --color-warning-fg: var(--color-yellow-500);
  --color-warning-emphasis: var(--color-yellow-500);
  --color-warning-muted: var(--color-yellow-200);
  --color-warning-subtle: var(--color-yellow-100);
  --color-danger-fg: var(--color-red-500);
  --color-danger-emphasis: var(--color-red-500);
  --color-danger-muted: var(--color-red-200);
  --color-danger-subtle: var(--color-red-100);
  /* Components */
  --color-button-default-bg: var(--color-gray-100);
  --color-button-default-fg: var(--color-gray-700);
  --color-button-default-border: var(--color-gray-300);
  --color-button-default-focus-ring: var(--color-blue-300);
  --color-button-default-hover-bg: var(--color-gray-200);
}

[data-theme='dark'] {
  --color-canvas-default: var(--color-gray-950);
  /* Components */
  --color-button-default-bg: var(--color-gray-800);
  --color-button-default-fg: var(--color-gray-200);
  --color-button-default-border: var(--color-gray-600);
  --color-button-default-focus-ring: var(--color-blue-800);
  --color-button-default-hover-bg: var(--color-gray-700);
}
