:root {
  /* amber */
  --rc-amber-light-1: 39, 70%, 99%;
  --rc-amber-light-2: 40, 100%, 96.5%;
  --rc-amber-light-3: 44, 100%, 91.7%;
  --rc-amber-light-4: 43, 100%, 86.8%;
  --rc-amber-light-5: 42, 100%, 81.8%;
  --rc-amber-light-6: 38, 99.7%, 76.3%;
  --rc-amber-light-7: 36, 86.1%, 67.1%;
  --rc-amber-light-8: 35, 85.2%, 55.1%;
  --rc-amber-light-9: 39, 100%, 57%;
  --rc-amber-light-10: 35, 100%, 55.5%;
  --rc-amber-light-11: 30, 100%, 34%;
  --rc-amber-light-12: 20, 80%, 17%;
  --rc-amber-dark-1: 36, 100%, 6.1%;
  --rc-amber-dark-2: 35, 100%, 7.6%;
  --rc-amber-dark-3: 32, 100%, 10.2%;
  --rc-amber-dark-4: 32, 100%, 12.4%;
  --rc-amber-dark-5: 33, 100%, 14.6%;
  --rc-amber-dark-6: 35, 100%, 17.1%;
  --rc-amber-dark-7: 35, 91%, 21.6%;
  --rc-amber-dark-8: 36, 100%, 25.5%;
  --rc-amber-dark-9: 39, 100%, 57%;
  --rc-amber-dark-10: 43, 100%, 64%;
  --rc-amber-dark-11: 39, 90%, 49.8%;
  --rc-amber-dark-12: 39, 97%, 93.2%;
  /* blue */
  --rc-blue-light-1: 206, 100%, 99.2%;
  --rc-blue-light-2: 210, 100%, 98%;
  --rc-blue-light-3: 209, 100%, 96.5%;
  --rc-blue-light-4: 210, 98.8%, 94%;
  --rc-blue-light-5: 209, 95%, 90.1%;
  --rc-blue-light-6: 209, 81.2%, 84.5%;
  --rc-blue-light-7: 208, 77.5%, 76.9%;
  --rc-blue-light-8: 206, 81.9%, 65.3%;
  --rc-blue-light-9: 206, 100%, 50%;
  --rc-blue-light-10: 208, 100%, 47.3%;
  --rc-blue-light-11: 211, 100%, 43.2%;
  --rc-blue-light-12: 211, 100%, 15%;
  --rc-blue-dark-1: 212, 35%, 9.2%;
  --rc-blue-dark-2: 216, 50%, 11.8%;
  --rc-blue-dark-3: 214, 59.4%, 15.3%;
  --rc-blue-dark-4: 214, 65.8%, 17.9%;
  --rc-blue-dark-5: 213, 71.2%, 20.2%;
  --rc-blue-dark-6: 212, 77.4%, 23.1%;
  --rc-blue-dark-7: 211, 85.1%, 27.4%;
  --rc-blue-dark-8: 211, 89.7%, 34.1%;
  --rc-blue-dark-9: 206, 100%, 50%;
  --rc-blue-dark-10: 209, 100%, 60.6%;
  --rc-blue-dark-11: 210, 100%, 66.1%;
  --rc-blue-dark-12: 206, 98%, 95.8%;
  /* bronze */
  --rc-bronze-light-1: 15, 30%, 99.1%;
  --rc-bronze-light-2: 17, 63.6%, 97.8%;
  --rc-bronze-light-3: 17, 42.1%, 95.2%;
  --rc-bronze-light-4: 17, 35.2%, 92.1%;
  --rc-bronze-light-5: 17, 31.5%, 88.2%;
  --rc-bronze-light-6: 17, 29%, 83%;
  --rc-bronze-light-7: 17, 26.9%, 75.6%;
  --rc-bronze-light-8: 17, 25.1%, 66.5%;
  --rc-bronze-light-9: 17, 20%, 54%;
  --rc-bronze-light-10: 17, 18.1%, 50.1%;
  --rc-bronze-light-11: 15, 20%, 43.1%;
  --rc-bronze-light-12: 12, 22%, 21.5%;
  --rc-bronze-dark-1: 17, 10%, 8.8%;
  --rc-bronze-dark-2: 15, 14.8%, 10.6%;
  --rc-bronze-dark-3: 15, 16.3%, 14.3%;
  --rc-bronze-dark-4: 16, 17.1%, 17.2%;
  --rc-bronze-dark-5: 16, 17.6%, 19.6%;
  --rc-bronze-dark-6: 16, 18.1%, 22.9%;
  --rc-bronze-dark-7: 17, 18.8%, 28.8%;
  --rc-bronze-dark-8: 17, 19.6%, 38%;
  --rc-bronze-dark-9: 17, 20%, 54%;
  --rc-bronze-dark-10: 18, 24%, 59%;
  --rc-bronze-dark-11: 18, 35%, 68.5%;
  --rc-bronze-dark-12: 18, 57%, 94.1%;
  /* brown */
  --rc-brown-light-1: 30, 40%, 99.1%;
  --rc-brown-light-2: 30, 50%, 97.6%;
  --rc-brown-light-3: 30, 52.5%, 94.6%;
  --rc-brown-light-4: 30, 53%, 91.2%;
  --rc-brown-light-5: 29, 52.9%, 86.8%;
  --rc-brown-light-6: 29, 52.5%, 80.9%;
  --rc-brown-light-7: 29, 51.5%, 72.8%;
  --rc-brown-light-8: 28, 50%, 63.1%;
  --rc-brown-light-9: 28, 34%, 51%;
  --rc-brown-light-10: 27, 31.8%, 47.6%;
  --rc-brown-light-11: 25, 30%, 41%;
  --rc-brown-light-12: 20, 30%, 19%;
  --rc-brown-dark-1: 22, 15%, 8.7%;
  --rc-brown-dark-2: 20, 28.3%, 10.4%;
  --rc-brown-dark-3: 20, 28%, 14%;
  --rc-brown-dark-4: 21, 28.4%, 16.5%;
  --rc-brown-dark-5: 22, 28.7%, 18.9%;
  --rc-brown-dark-6: 23, 29%, 22.3%;
  --rc-brown-dark-7: 25, 29.5%, 27.8%;
  --rc-brown-dark-8: 27, 30.1%, 35.9%;
  --rc-brown-dark-9: 28, 34%, 51%;
  --rc-brown-dark-10: 28, 41.4%, 55.8%;
  --rc-brown-dark-11: 28, 60%, 64.5%;
  --rc-brown-dark-12: 30, 67%, 94%;
  /* crimson */
  --rc-crimson-light-1: 332, 100%, 99.4%;
  --rc-crimson-light-2: 330, 100%, 98.4%;
  --rc-crimson-light-3: 331, 85.6%, 96.6%;
  --rc-crimson-light-4: 331, 78.1%, 94.2%;
  --rc-crimson-light-5: 332, 72.1%, 91.1%;
  --rc-crimson-light-6: 333, 67%, 86.7%;
  --rc-crimson-light-7: 335, 63.5%, 80.4%;
  --rc-crimson-light-8: 336, 62.3%, 72.9%;
  --rc-crimson-light-9: 336, 80%, 57.8%;
  --rc-crimson-light-10: 336, 73.7%, 53.5%;
  --rc-crimson-light-11: 336, 75%, 47.2%;
  --rc-crimson-light-12: 340, 65%, 14.5%;
  --rc-crimson-dark-1: 335, 20%, 9.6%;
  --rc-crimson-dark-2: 335, 32.2%, 11.6%;
  --rc-crimson-dark-3: 335, 42.5%, 16.5%;
  --rc-crimson-dark-4: 335, 47.2%, 19.3%;
  --rc-crimson-dark-5: 335, 50.9%, 21.8%;
  --rc-crimson-dark-6: 335, 55.7%, 25.3%;
  --rc-crimson-dark-7: 336, 62.9%, 30.8%;
  --rc-crimson-dark-8: 336, 74.9%, 39%;
  --rc-crimson-dark-9: 336, 80%, 57.8%;
  --rc-crimson-dark-10: 339, 84.1%, 62.6%;
  --rc-crimson-dark-11: 341, 90%, 67.3%;
  --rc-crimson-dark-12: 332, 87%, 96%;
  /* cyan */
  --rc-cyan-light-1: 185, 60%, 98.7%;
  --rc-cyan-light-2: 185, 73.3%, 97.1%;
  --rc-cyan-light-3: 186, 70.2%, 94.4%;
  --rc-cyan-light-4: 186, 63.8%, 90.6%;
  --rc-cyan-light-5: 187, 58.3%, 85.4%;
  --rc-cyan-light-6: 188, 54.6%, 78.4%;
  --rc-cyan-light-7: 189, 53.7%, 68.7%;
  --rc-cyan-light-8: 189, 60.3%, 52.5%;
  --rc-cyan-light-9: 190, 95%, 39%;
  --rc-cyan-light-10: 191, 91.2%, 36.8%;
  --rc-cyan-light-11: 192, 85%, 31%;
  --rc-cyan-light-12: 192, 88%, 12.5%;
  --rc-cyan-dark-1: 192, 60%, 7.2%;
  --rc-cyan-dark-2: 192, 71.4%, 8.2%;
  --rc-cyan-dark-3: 192, 75.9%, 10.8%;
  --rc-cyan-dark-4: 192, 79.3%, 12.8%;
  --rc-cyan-dark-5: 192, 82.5%, 14.6%;
  --rc-cyan-dark-6: 192, 86.6%, 16.9%;
  --rc-cyan-dark-7: 192, 92.6%, 20.1%;
  --rc-cyan-dark-8: 192, 100%, 24.5%;
  --rc-cyan-dark-9: 190, 95%, 39%;
  --rc-cyan-dark-10: 188, 100%, 40%;
  --rc-cyan-dark-11: 186, 100%, 42.2%;
  --rc-cyan-dark-12: 185, 73%, 93.2%;
  /* gold */
  --rc-gold-light-1: 50, 20%, 99.1%;
  --rc-gold-light-2: 47, 52.9%, 96.7%;
  --rc-gold-light-3: 46, 38.2%, 93.7%;
  --rc-gold-light-4: 44, 32.7%, 90.1%;
  --rc-gold-light-5: 43, 29.9%, 85.7%;
  --rc-gold-light-6: 41, 28.3%, 79.8%;
  --rc-gold-light-7: 39, 27.6%, 71.9%;
  --rc-gold-light-8: 36, 27.2%, 61.8%;
  --rc-gold-light-9: 36, 20%, 49.5%;
  --rc-gold-light-10: 36, 19.8%, 45.7%;
  --rc-gold-light-11: 36, 20%, 39%;
  --rc-gold-light-12: 36, 16%, 20%;
  --rc-gold-dark-1: 44, 9%, 8.3%;
  --rc-gold-dark-2: 43, 14.3%, 9.6%;
  --rc-gold-dark-3: 42, 15.5%, 13%;
  --rc-gold-dark-4: 41, 16.4%, 15.6%;
  --rc-gold-dark-5: 41, 16.9%, 17.8%;
  --rc-gold-dark-6: 40, 17.6%, 20.8%;
  --rc-gold-dark-7: 38, 18.5%, 26.4%;
  --rc-gold-dark-8: 36, 19.6%, 35.1%;
  --rc-gold-dark-9: 36, 20%, 49.5%;
  --rc-gold-dark-10: 36, 22.3%, 54.5%;
  --rc-gold-dark-11: 35, 30%, 64%;
  --rc-gold-dark-12: 49, 52%, 93.8%;
  /* grass */
  --rc-grass-light-1: 116, 50%, 98.9%;
  --rc-grass-light-2: 120, 60%, 97.1%;
  --rc-grass-light-3: 120, 53.6%, 94.8%;
  --rc-grass-light-4: 121, 47.5%, 91.4%;
  --rc-grass-light-5: 122, 42.6%, 86.5%;
  --rc-grass-light-6: 124, 39%, 79.7%;
  --rc-grass-light-7: 126, 37.1%, 70.2%;
  --rc-grass-light-8: 131, 38.1%, 56.3%;
  --rc-grass-light-9: 131, 41%, 46.5%;
  --rc-grass-light-10: 132, 43.1%, 42.2%;
  --rc-grass-light-11: 133, 50%, 32.5%;
  --rc-grass-light-12: 130, 30%, 14.9%;
  --rc-grass-dark-1: 146, 30%, 7.4%;
  --rc-grass-dark-2: 136, 33.3%, 8.8%;
  --rc-grass-dark-3: 137, 36%, 11.4%;
  --rc-grass-dark-4: 137, 37.6%, 13.7%;
  --rc-grass-dark-5: 136, 38.7%, 16%;
  --rc-grass-dark-6: 135, 39.6%, 19.1%;
  --rc-grass-dark-7: 134, 40.3%, 23.8%;
  --rc-grass-dark-8: 131, 40.1%, 30.8%;
  --rc-grass-dark-9: 131, 41%, 46.5%;
  --rc-grass-dark-10: 131, 39%, 52.1%;
  --rc-grass-dark-11: 131, 43%, 57.2%;
  --rc-grass-dark-12: 137, 72%, 94%;
  /* gray */
  --rc-gray-light-1: 0, 0%, 99%;
  --rc-gray-light-2: 0, 0%, 97.3%;
  --rc-gray-light-3: 0, 0%, 95.1%;
  --rc-gray-light-4: 0, 0%, 93%;
  --rc-gray-light-5: 0, 0%, 90.9%;
  --rc-gray-light-6: 0, 0%, 88.7%;
  --rc-gray-light-7: 0, 0%, 85.8%;
  --rc-gray-light-8: 0, 0%, 78%;
  --rc-gray-light-9: 0, 0%, 56.1%;
  --rc-gray-light-10: 0, 0%, 52.3%;
  --rc-gray-light-11: 0, 0%, 43.5%;
  --rc-gray-light-12: 0, 0%, 9%;
  --rc-gray-dark-1: 0, 0%, 8.5%;
  --rc-gray-dark-2: 0, 0%, 11%;
  --rc-gray-dark-3: 0, 0%, 13.6%;
  --rc-gray-dark-4: 0, 0%, 15.8%;
  --rc-gray-dark-5: 0, 0%, 17.9%;
  --rc-gray-dark-6: 0, 0%, 20.5%;
  --rc-gray-dark-7: 0, 0%, 24.3%;
  --rc-gray-dark-8: 0, 0%, 31.2%;
  --rc-gray-dark-9: 0, 0%, 43.9%;
  --rc-gray-dark-10: 0, 0%, 49.4%;
  --rc-gray-dark-11: 0, 0%, 62.8%;
  --rc-gray-dark-12: 0, 0%, 93%;
  /* green */
  --rc-green-light-1: 136, 50%, 98.9%;
  --rc-green-light-2: 138, 62.5%, 96.9%;
  --rc-green-light-3: 139, 55.2%, 94.5%;
  --rc-green-light-4: 140, 48.7%, 91%;
  --rc-green-light-5: 141, 43.7%, 86%;
  --rc-green-light-6: 143, 40.3%, 79%;
  --rc-green-light-7: 146, 38.5%, 69%;
  --rc-green-light-8: 151, 40.2%, 54.1%;
  --rc-green-light-9: 151, 55%, 41.5%;
  --rc-green-light-10: 152, 57.5%, 37.6%;
  --rc-green-light-11: 153, 67%, 28.5%;
  --rc-green-light-12: 155, 40%, 14%;
  --rc-green-dark-1: 146, 30%, 7.4%;
  --rc-green-dark-2: 155, 44.2%, 8.4%;
  --rc-green-dark-3: 155, 46.7%, 10.9%;
  --rc-green-dark-4: 154, 48.4%, 12.9%;
  --rc-green-dark-5: 154, 49.7%, 14.9%;
  --rc-green-dark-6: 154, 50.9%, 17.6%;
  --rc-green-dark-7: 153, 51.8%, 21.8%;
  --rc-green-dark-8: 151, 51.7%, 28.4%;
  --rc-green-dark-9: 151, 55%, 41.5%;
  --rc-green-dark-10: 151, 49.3%, 46.5%;
  --rc-green-dark-11: 151, 50%, 53.2%;
  --rc-green-dark-12: 137, 72%, 94%;
  /* indigo */
  --rc-indigo-light-1: 225, 60%, 99.4%;
  --rc-indigo-light-2: 223, 100%, 98.6%;
  --rc-indigo-light-3: 223, 98.4%, 97.1%;
  --rc-indigo-light-4: 223, 92.9%, 95%;
  --rc-indigo-light-5: 224, 87.1%, 92%;
  --rc-indigo-light-6: 224, 81.9%, 87.8%;
  --rc-indigo-light-7: 225, 77.4%, 82.1%;
  --rc-indigo-light-8: 226, 75.4%, 74.5%;
  --rc-indigo-light-9: 226, 70%, 55.5%;
  --rc-indigo-light-10: 226, 58.6%, 51.3%;
  --rc-indigo-light-11: 226, 55%, 45%;
  --rc-indigo-light-12: 226, 62%, 17%;
  --rc-indigo-dark-1: 229, 24%, 10%;
  --rc-indigo-dark-2: 230, 36.4%, 12.9%;
  --rc-indigo-dark-3: 228, 43.3%, 17.5%;
  --rc-indigo-dark-4: 227, 47.2%, 21%;
  --rc-indigo-dark-5: 227, 50%, 24.1%;
  --rc-indigo-dark-6: 226, 52.9%, 28.2%;
  --rc-indigo-dark-7: 226, 56%, 34.5%;
  --rc-indigo-dark-8: 226, 58.2%, 44.1%;
  --rc-indigo-dark-9: 226, 70%, 55.5%;
  --rc-indigo-dark-10: 227, 75.2%, 61.6%;
  --rc-indigo-dark-11: 228, 100%, 75.9%;
  --rc-indigo-dark-12: 226, 83%, 96.3%;
  /* lime */
  --rc-lime-light-1: 85, 50%, 98.7%;
  --rc-lime-light-2: 85, 66.7%, 96.5%;
  --rc-lime-light-3: 85, 76%, 92.3%;
  --rc-lime-light-4: 84, 75.3%, 87.5%;
  --rc-lime-light-5: 84, 71.5%, 81.9%;
  --rc-lime-light-6: 82, 65%, 74.6%;
  --rc-lime-light-7: 79, 53.2%, 61.8%;
  --rc-lime-light-8: 76, 61.7%, 45.1%;
  --rc-lime-light-9: 81, 67%, 50%;
  --rc-lime-light-10: 80, 68.3%, 46.9%;
  --rc-lime-light-11: 75, 80%, 26%;
  --rc-lime-light-12: 78, 70%, 11.5%;
  --rc-lime-dark-1: 75, 55%, 6%;
  --rc-lime-dark-2: 74, 56.8%, 7.3%;
  --rc-lime-dark-3: 78, 50.2%, 9.9%;
  --rc-lime-dark-4: 79, 50.3%, 12.1%;
  --rc-lime-dark-5: 79, 52.6%, 14.2%;
  --rc-lime-dark-6: 78, 55.7%, 16.7%;
  --rc-lime-dark-7: 77, 59.7%, 20.1%;
  --rc-lime-dark-8: 75, 64.8%, 24.5%;
  --rc-lime-dark-9: 81, 67%, 50%;
  --rc-lime-dark-10: 75, 85%, 60%;
  --rc-lime-dark-11: 81, 70%, 43.8%;
  --rc-lime-dark-12: 84, 79%, 92.6%;
  /* mauve */
  --rc-mauve-light-1: 300, 20%, 99%;
  --rc-mauve-light-2: 300, 7.7%, 97.5%;
  --rc-mauve-light-3: 294, 5.5%, 95.3%;
  --rc-mauve-light-4: 289, 4.7%, 93.3%;
  --rc-mauve-light-5: 283, 4.4%, 91.3%;
  --rc-mauve-light-6: 278, 4.1%, 89.1%;
  --rc-mauve-light-7: 271, 3.9%, 86.3%;
  --rc-mauve-light-8: 255, 3.7%, 78.8%;
  --rc-mauve-light-9: 252, 4%, 57.3%;
  --rc-mauve-light-10: 253, 3.5%, 53.5%;
  --rc-mauve-light-11: 252, 4%, 44.8%;
  --rc-mauve-light-12: 260, 25%, 11%;
  --rc-mauve-dark-1: 246, 6%, 9%;
  --rc-mauve-dark-2: 240, 5.1%, 11.6%;
  --rc-mauve-dark-3: 241, 5%, 14.3%;
  --rc-mauve-dark-4: 242, 4.9%, 16.5%;
  --rc-mauve-dark-5: 243, 4.9%, 18.8%;
  --rc-mauve-dark-6: 244, 4.9%, 21.5%;
  --rc-mauve-dark-7: 245, 4.9%, 25.4%;
  --rc-mauve-dark-8: 247, 4.8%, 32.5%;
  --rc-mauve-dark-9: 252, 4%, 45.2%;
  --rc-mauve-dark-10: 247, 3.4%, 50.7%;
  --rc-mauve-dark-11: 253, 4%, 63.7%;
  --rc-mauve-dark-12: 256, 6%, 93.2%;
  /* mint */
  --rc-mint-light-1: 165, 80%, 98.8%;
  --rc-mint-light-2: 164, 88.2%, 96.7%;
  --rc-mint-light-3: 164, 76.6%, 93.3%;
  --rc-mint-light-4: 165, 68.8%, 89.5%;
  --rc-mint-light-5: 165, 60.6%, 84.5%;
  --rc-mint-light-6: 165, 53.5%, 76.9%;
  --rc-mint-light-7: 166, 50.7%, 66.1%;
  --rc-mint-light-8: 168, 52.8%, 51%;
  --rc-mint-light-9: 167, 65%, 66%;
  --rc-mint-light-10: 167, 59.3%, 63.1%;
  --rc-mint-light-11: 172, 72%, 28.5%;
  --rc-mint-light-12: 172, 70%, 12%;
  --rc-mint-dark-1: 173, 50%, 6.6%;
  --rc-mint-dark-2: 176, 73%, 7.3%;
  --rc-mint-dark-3: 175, 79.3%, 8.9%;
  --rc-mint-dark-4: 174, 84.8%, 10.3%;
  --rc-mint-dark-5: 174, 90.2%, 11.9%;
  --rc-mint-dark-6: 173, 96%, 13.8%;
  --rc-mint-dark-7: 172, 100%, 16.8%;
  --rc-mint-dark-8: 170, 100%, 21.4%;
  --rc-mint-dark-9: 167, 65%, 66%;
  --rc-mint-dark-10: 163, 80%, 77%;
  --rc-mint-dark-11: 167, 70%, 48%;
  --rc-mint-dark-12: 165, 80%, 94.8%;
  /* olive */
  --rc-olive-light-1: 110, 20%, 99%;
  --rc-olive-light-2: 120, 16.7%, 97.6%;
  --rc-olive-light-3: 119, 10.1%, 95.2%;
  --rc-olive-light-4: 118, 8.1%, 93%;
  --rc-olive-light-5: 117, 7.1%, 90.8%;
  --rc-olive-light-6: 115, 6.4%, 88.5%;
  --rc-olive-light-7: 114, 5.9%, 85.4%;
  --rc-olive-light-8: 110, 5.2%, 77.3%;
  --rc-olive-light-9: 110, 3.5%, 55.5%;
  --rc-olive-light-10: 111, 2.8%, 51.7%;
  --rc-olive-light-11: 110, 3%, 43%;
  --rc-olive-light-12: 110, 25%, 9.5%;
  --rc-olive-dark-1: 110, 5%, 8.6%;
  --rc-olive-dark-2: 105, 7.4%, 10.6%;
  --rc-olive-dark-3: 106, 6.4%, 13.1%;
  --rc-olive-dark-4: 106, 5.8%, 15.3%;
  --rc-olive-dark-5: 107, 5.3%, 17.4%;
  --rc-olive-dark-6: 107, 4.9%, 19.9%;
  --rc-olive-dark-7: 108, 4.4%, 23.6%;
  --rc-olive-dark-8: 110, 3.8%, 30.6%;
  --rc-olive-dark-9: 110, 6%, 42.5%;
  --rc-olive-dark-10: 111, 4.8%, 48.2%;
  --rc-olive-dark-11: 110, 5%, 61.8%;
  --rc-olive-dark-12: 110, 6%, 93%;
  /* orange */
  --rc-orange-light-1: 24, 70%, 99%;
  --rc-orange-light-2: 24, 83.3%, 97.6%;
  --rc-orange-light-3: 24, 100%, 95.3%;
  --rc-orange-light-4: 25, 100%, 92.2%;
  --rc-orange-light-5: 25, 100%, 88.2%;
  --rc-orange-light-6: 25, 100%, 82.8%;
  --rc-orange-light-7: 24, 100%, 75.3%;
  --rc-orange-light-8: 24, 94.5%, 64.3%;
  --rc-orange-light-9: 24, 94%, 50%;
  --rc-orange-light-10: 24, 100%, 46.5%;
  --rc-orange-light-11: 24, 100%, 37%;
  --rc-orange-light-12: 15, 60%, 17%;
  --rc-orange-dark-1: 30, 70%, 7.2%;
  --rc-orange-dark-2: 28, 100%, 8.4%;
  --rc-orange-dark-3: 26, 91.1%, 11.6%;
  --rc-orange-dark-4: 25, 88.3%, 14.1%;
  --rc-orange-dark-5: 24, 87.6%, 16.6%;
  --rc-orange-dark-6: 24, 88.6%, 19.8%;
  --rc-orange-dark-7: 24, 92.4%, 24%;
  --rc-orange-dark-8: 25, 100%, 29%;
  --rc-orange-dark-9: 24, 94%, 50%;
  --rc-orange-dark-10: 24, 100%, 58.5%;
  --rc-orange-dark-11: 24, 100%, 62.2%;
  --rc-orange-dark-12: 24, 97%, 93.2%;
  /* pink */
  --rc-pink-light-1: 322, 100%, 99.4%;
  --rc-pink-light-2: 323, 100%, 98.4%;
  --rc-pink-light-3: 323, 86.3%, 96.5%;
  --rc-pink-light-4: 323, 78.7%, 94.2%;
  --rc-pink-light-5: 323, 72.2%, 91.1%;
  --rc-pink-light-6: 323, 66.3%, 86.6%;
  --rc-pink-light-7: 323, 62%, 80.1%;
  --rc-pink-light-8: 323, 60.3%, 72.4%;
  --rc-pink-light-9: 322, 65%, 54.5%;
  --rc-pink-light-10: 322, 63.9%, 50.7%;
  --rc-pink-light-11: 322, 75%, 46%;
  --rc-pink-light-12: 320, 70%, 13.5%;
  --rc-pink-dark-1: 318, 25%, 9.6%;
  --rc-pink-dark-2: 319, 32.2%, 11.6%;
  --rc-pink-dark-3: 319, 41%, 16%;
  --rc-pink-dark-4: 320, 45.4%, 18.7%;
  --rc-pink-dark-5: 320, 49%, 21.1%;
  --rc-pink-dark-6: 321, 53.6%, 24.4%;
  --rc-pink-dark-7: 321, 61.1%, 29.7%;
  --rc-pink-dark-8: 322, 74.9%, 37.5%;
  --rc-pink-dark-9: 322, 65%, 54.5%;
  --rc-pink-dark-10: 323, 72.8%, 59.2%;
  --rc-pink-dark-11: 325, 90%, 66.4%;
  --rc-pink-dark-12: 322, 90%, 95.8%;
  /* plum */
  --rc-plum-light-1: 292, 90%, 99.4%;
  --rc-plum-light-2: 300, 100%, 98.6%;
  --rc-plum-light-3: 299, 71.2%, 96.4%;
  --rc-plum-light-4: 299, 62%, 93.8%;
  --rc-plum-light-5: 298, 56.1%, 90.5%;
  --rc-plum-light-6: 296, 51.3%, 85.8%;
  --rc-plum-light-7: 295, 48.2%, 78.9%;
  --rc-plum-light-8: 292, 47.7%, 70.8%;
  --rc-plum-light-9: 292, 45%, 51%;
  --rc-plum-light-10: 292, 50.2%, 46.9%;
  --rc-plum-light-11: 292, 60%, 42.5%;
  --rc-plum-light-12: 291, 66%, 14%;
  --rc-plum-dark-1: 301, 20%, 9.4%;
  --rc-plum-dark-2: 300, 29.8%, 11.2%;
  --rc-plum-dark-3: 298, 34.4%, 15.3%;
  --rc-plum-dark-4: 297, 36.8%, 18.3%;
  --rc-plum-dark-5: 296, 38.5%, 21.1%;
  --rc-plum-dark-6: 295, 40.4%, 24.7%;
  --rc-plum-dark-7: 294, 42.7%, 30.6%;
  --rc-plum-dark-8: 292, 45.1%, 40%;
  --rc-plum-dark-9: 292, 45%, 51%;
  --rc-plum-dark-10: 295, 50%, 55.4%;
  --rc-plum-dark-11: 300, 60%, 62%;
  --rc-plum-dark-12: 296, 74%, 95.7%;
  /* purple */
  --rc-purple-light-1: 280, 65%, 99.4%;
  --rc-purple-light-2: 276, 100%, 99%;
  --rc-purple-light-3: 276, 83.1%, 97%;
  --rc-purple-light-4: 275, 76.4%, 94.7%;
  --rc-purple-light-5: 275, 70.8%, 91.8%;
  --rc-purple-light-6: 274, 65.4%, 87.8%;
  --rc-purple-light-7: 273, 61%, 81.7%;
  --rc-purple-light-8: 272, 60%, 73.5%;
  --rc-purple-light-9: 272, 51%, 54%;
  --rc-purple-light-10: 272, 46.8%, 50.3%;
  --rc-purple-light-11: 272, 50%, 45.8%;
  --rc-purple-light-12: 272, 66%, 16%;
  --rc-purple-dark-1: 284, 20%, 9.6%;
  --rc-purple-dark-2: 283, 30%, 11.8%;
  --rc-purple-dark-3: 281, 37.5%, 16.5%;
  --rc-purple-dark-4: 280, 41.2%, 20%;
  --rc-purple-dark-5: 279, 43.8%, 23.3%;
  --rc-purple-dark-6: 277, 46.4%, 27.5%;
  --rc-purple-dark-7: 275, 49.3%, 34.6%;
  --rc-purple-dark-8: 272, 52.1%, 45.9%;
  --rc-purple-dark-9: 272, 51%, 54%;
  --rc-purple-dark-10: 273, 57.3%, 59.1%;
  --rc-purple-dark-11: 275, 80%, 71%;
  --rc-purple-dark-12: 279, 75%, 95.7%;
  /* red */
  --rc-red-light-1: 359, 100%, 99.4%;
  --rc-red-light-2: 359, 100%, 98.6%;
  --rc-red-light-3: 360, 100%, 96.8%;
  --rc-red-light-4: 360, 97.9%, 94.8%;
  --rc-red-light-5: 360, 90.2%, 91.9%;
  --rc-red-light-6: 360, 81.7%, 87.8%;
  --rc-red-light-7: 359, 74.2%, 81.7%;
  --rc-red-light-8: 359, 69.5%, 74.3%;
  --rc-red-light-9: 358, 75%, 59%;
  --rc-red-light-10: 358, 69.4%, 55.2%;
  --rc-red-light-11: 358, 65%, 48.7%;
  --rc-red-light-12: 354, 50%, 14.6%;
  --rc-red-dark-1: 353, 23%, 9.8%;
  --rc-red-dark-2: 357, 34.4%, 12%;
  --rc-red-dark-3: 356, 43.4%, 16.4%;
  --rc-red-dark-4: 356, 47.6%, 19.2%;
  --rc-red-dark-5: 356, 51.1%, 21.9%;
  --rc-red-dark-6: 356, 55.2%, 25.9%;
  --rc-red-dark-7: 357, 60.2%, 31.8%;
  --rc-red-dark-8: 358, 65%, 40.4%;
  --rc-red-dark-9: 358, 75%, 59%;
  --rc-red-dark-10: 358, 85.3%, 64%;
  --rc-red-dark-11: 358, 100%, 69.5%;
  --rc-red-dark-12: 351, 89%, 96%;
  /* sage */
  --rc-sage-light-1: 155, 30%, 98.8%;
  --rc-sage-light-2: 150, 16.7%, 97.6%;
  --rc-sage-light-3: 151, 10.6%, 95.2%;
  --rc-sage-light-4: 151, 8.8%, 93%;
  --rc-sage-light-5: 151, 7.8%, 90.8%;
  --rc-sage-light-6: 152, 7.2%, 88.4%;
  --rc-sage-light-7: 153, 6.7%, 85.3%;
  --rc-sage-light-8: 154, 6.1%, 77.5%;
  --rc-sage-light-9: 155, 3.5%, 55.5%;
  --rc-sage-light-10: 154, 2.8%, 51.7%;
  --rc-sage-light-11: 155, 3%, 43%;
  --rc-sage-light-12: 155, 24%, 9%;
  --rc-sage-dark-1: 155, 7%, 8.4%;
  --rc-sage-dark-2: 150, 7.4%, 10.6%;
  --rc-sage-dark-3: 150, 6.7%, 13.1%;
  --rc-sage-dark-4: 150, 6.4%, 15.3%;
  --rc-sage-dark-5: 150, 6.1%, 17.4%;
  --rc-sage-dark-6: 150, 5.8%, 19.9%;
  --rc-sage-dark-7: 150, 5.5%, 23.6%;
  --rc-sage-dark-8: 150, 5.1%, 30.6%;
  --rc-sage-dark-9: 155, 6%, 42.5%;
  --rc-sage-dark-10: 153, 4.8%, 48.2%;
  --rc-sage-dark-11: 155, 5%, 61.8%;
  --rc-sage-dark-12: 155, 6%, 93%;
  /* sand */
  --rc-sand-light-1: 50, 20%, 99%;
  --rc-sand-light-2: 60, 7.7%, 97.5%;
  --rc-sand-light-3: 59, 6.5%, 95.1%;
  --rc-sand-light-4: 58, 6.1%, 92.9%;
  --rc-sand-light-5: 57, 6%, 90.7%;
  --rc-sand-light-6: 56, 5.9%, 88.4%;
  --rc-sand-light-7: 55, 5.9%, 85.2%;
  --rc-sand-light-8: 51, 6%, 77.1%;
  --rc-sand-light-9: 50, 2%, 55.7%;
  --rc-sand-light-10: 55, 1.7%, 51.9%;
  --rc-sand-light-11: 50, 2%, 43.1%;
  --rc-sand-light-12: 50, 6%, 10%;
  --rc-sand-dark-1: 61, 2%, 8.3%;
  --rc-sand-dark-2: 60, 3.7%, 10.6%;
  --rc-sand-dark-3: 58, 3.7%, 13.1%;
  --rc-sand-dark-4: 57, 3.6%, 15.3%;
  --rc-sand-dark-5: 56, 3.7%, 17.4%;
  --rc-sand-dark-6: 55, 3.7%, 19.9%;
  --rc-sand-dark-7: 53, 3.7%, 23.6%;
  --rc-sand-dark-8: 50, 3.8%, 30.6%;
  --rc-sand-dark-9: 50, 4%, 42.7%;
  --rc-sand-dark-10: 52, 3.1%, 48.3%;
  --rc-sand-dark-11: 50, 4%, 61.8%;
  --rc-sand-dark-12: 56, 4%, 92.8%;
  /* sky */
  --rc-sky-light-1: 193, 100%, 98.8%;
  --rc-sky-light-2: 193, 100%, 97.3%;
  --rc-sky-light-3: 193, 99%, 94.7%;
  --rc-sky-light-4: 193, 91.4%, 91.4%;
  --rc-sky-light-5: 194, 82%, 86.6%;
  --rc-sky-light-6: 194, 74.1%, 79.5%;
  --rc-sky-light-7: 194, 72.3%, 69.6%;
  --rc-sky-light-8: 193, 77.9%, 53.9%;
  --rc-sky-light-9: 193, 98%, 70%;
  --rc-sky-light-10: 193, 87%, 66.5%;
  --rc-sky-light-11: 195, 100%, 31.5%;
  --rc-sky-light-12: 195, 100%, 13%;
  --rc-sky-dark-1: 205, 45%, 8.6%;
  --rc-sky-dark-2: 202, 71.4%, 9.6%;
  --rc-sky-dark-3: 201, 74.6%, 12.2%;
  --rc-sky-dark-4: 201, 77.4%, 14.4%;
  --rc-sky-dark-5: 200, 80.3%, 16.5%;
  --rc-sky-dark-6: 200, 84.1%, 18.9%;
  --rc-sky-dark-7: 199, 90.2%, 22.1%;
  --rc-sky-dark-8: 198, 100%, 26.1%;
  --rc-sky-dark-9: 193, 98%, 70%;
  --rc-sky-dark-10: 192, 100%, 77%;
  --rc-sky-dark-11: 192, 85%, 55.8%;
  --rc-sky-dark-12: 198, 98%, 95.8%;
  /* slate */
  --rc-slate-light-1: 206, 30%, 98.8%;
  --rc-slate-light-2: 210, 16.7%, 97.6%;
  --rc-slate-light-3: 209, 13.3%, 95.3%;
  --rc-slate-light-4: 209, 12.2%, 93.2%;
  --rc-slate-light-5: 208, 11.7%, 91.1%;
  --rc-slate-light-6: 208, 11.3%, 88.9%;
  --rc-slate-light-7: 207, 11.1%, 85.9%;
  --rc-slate-light-8: 205, 10.7%, 78%;
  --rc-slate-light-9: 206, 6%, 56.1%;
  --rc-slate-light-10: 206, 5.8%, 52.3%;
  --rc-slate-light-11: 206, 6%, 43.5%;
  --rc-slate-light-12: 206, 24%, 9%;
  --rc-slate-dark-1: 200, 7%, 8.8%;
  --rc-slate-dark-2: 195, 7.1%, 11%;
  --rc-slate-dark-3: 197, 6.8%, 13.6%;
  --rc-slate-dark-4: 198, 6.6%, 15.8%;
  --rc-slate-dark-5: 199, 6.4%, 17.9%;
  --rc-slate-dark-6: 201, 6.2%, 20.5%;
  --rc-slate-dark-7: 203, 6%, 24.3%;
  --rc-slate-dark-8: 207, 5.6%, 31.6%;
  --rc-slate-dark-9: 206, 6%, 43.9%;
  --rc-slate-dark-10: 206, 5.2%, 49.5%;
  --rc-slate-dark-11: 206, 6%, 63%;
  --rc-slate-dark-12: 210, 6%, 93%;
  /* teal */
  --rc-teal-light-1: 165, 60%, 98.8%;
  --rc-teal-light-2: 169, 64.7%, 96.7%;
  --rc-teal-light-3: 169, 59.8%, 94%;
  --rc-teal-light-4: 169, 53.1%, 90.2%;
  --rc-teal-light-5: 170, 47.1%, 85%;
  --rc-teal-light-6: 170, 42.6%, 77.9%;
  --rc-teal-light-7: 170, 39.9%, 68.1%;
  --rc-teal-light-8: 172, 42.1%, 52.5%;
  --rc-teal-light-9: 173, 80%, 36%;
  --rc-teal-light-10: 173, 83.4%, 32.5%;
  --rc-teal-light-11: 174, 90%, 25.2%;
  --rc-teal-light-12: 170, 50%, 12.5%;
  --rc-teal-dark-1: 168, 48%, 6.5%;
  --rc-teal-dark-2: 169, 77.8%, 7.1%;
  --rc-teal-dark-3: 170, 76.1%, 9.2%;
  --rc-teal-dark-4: 171, 75.8%, 11%;
  --rc-teal-dark-5: 171, 75.7%, 12.8%;
  --rc-teal-dark-6: 172, 75.8%, 15.1%;
  --rc-teal-dark-7: 172, 76.7%, 18.6%;
  --rc-teal-dark-8: 173, 80.2%, 23.7%;
  --rc-teal-dark-9: 173, 80%, 36%;
  --rc-teal-dark-10: 174, 83.9%, 38.2%;
  --rc-teal-dark-11: 174, 90%, 40.7%;
  --rc-teal-dark-12: 166, 73%, 93.1%;
  /* tomato */
  --rc-tomato-light-1: 10, 100%, 99.4%;
  --rc-tomato-light-2: 8, 100%, 98.4%;
  --rc-tomato-light-3: 8, 100%, 96.6%;
  --rc-tomato-light-4: 8, 100%, 94.3%;
  --rc-tomato-light-5: 8, 92.8%, 91%;
  --rc-tomato-light-6: 9, 84.7%, 86.3%;
  --rc-tomato-light-7: 10, 77.3%, 79.5%;
  --rc-tomato-light-8: 10, 71.6%, 71%;
  --rc-tomato-light-9: 10, 78%, 54%;
  --rc-tomato-light-10: 10, 71.5%, 50%;
  --rc-tomato-light-11: 10, 82%, 43.5%;
  --rc-tomato-light-12: 10, 50%, 13.5%;
  --rc-tomato-dark-1: 10, 23%, 9.4%;
  --rc-tomato-dark-2: 9, 44.8%, 11.4%;
  --rc-tomato-dark-3: 8, 52%, 15.3%;
  --rc-tomato-dark-4: 7, 56.3%, 18%;
  --rc-tomato-dark-5: 7, 60.1%, 20.6%;
  --rc-tomato-dark-6: 8, 64.8%, 24%;
  --rc-tomato-dark-7: 8, 71.2%, 29.1%;
  --rc-tomato-dark-8: 10, 80.2%, 35.7%;
  --rc-tomato-dark-9: 10, 78%, 54%;
  --rc-tomato-dark-10: 10, 81.7%, 59%;
  --rc-tomato-dark-11: 10, 85%, 62.8%;
  --rc-tomato-dark-12: 10, 89%, 96%;
  /* violet */
  --rc-violet-light-1: 255, 65%, 99.4%;
  --rc-violet-light-2: 252, 100%, 99%;
  --rc-violet-light-3: 252, 96.9%, 97.4%;
  --rc-violet-light-4: 252, 91.5%, 95.5%;
  --rc-violet-light-5: 252, 85.1%, 93%;
  --rc-violet-light-6: 252, 77.8%, 89.4%;
  --rc-violet-light-7: 252, 71%, 83.7%;
  --rc-violet-light-8: 252, 68.6%, 76.3%;
  --rc-violet-light-9: 252, 56%, 57.5%;
  --rc-violet-light-10: 251, 48.1%, 53.5%;
  --rc-violet-light-11: 250, 43%, 48%;
  --rc-violet-light-12: 254, 60%, 18.5%;
  --rc-violet-dark-1: 250, 20%, 10.2%;
  --rc-violet-dark-2: 255, 30.3%, 12.9%;
  --rc-violet-dark-3: 253, 37%, 18.4%;
  --rc-violet-dark-4: 252, 40.1%, 22.5%;
  --rc-violet-dark-5: 252, 42.2%, 26.2%;
  --rc-violet-dark-6: 251, 44.3%, 31.1%;
  --rc-violet-dark-7: 250, 46.8%, 38.9%;
  --rc-violet-dark-8: 250, 51.8%, 51.2%;
  --rc-violet-dark-9: 252, 56%, 57.5%;
  --rc-violet-dark-10: 251, 63.2%, 63.2%;
  --rc-violet-dark-11: 250, 95%, 76.8%;
  --rc-violet-dark-12: 252, 87%, 96.4%;
  /* yellow */
  --rc-yellow-light-1: 60, 54%, 98.5%;
  --rc-yellow-light-2: 52, 100%, 95.5%;
  --rc-yellow-light-3: 55, 100%, 90.9%;
  --rc-yellow-light-4: 54, 100%, 86.6%;
  --rc-yellow-light-5: 52, 97.9%, 82%;
  --rc-yellow-light-6: 50, 89.4%, 76.1%;
  --rc-yellow-light-7: 47, 80.4%, 68%;
  --rc-yellow-light-8: 48, 100%, 46.1%;
  --rc-yellow-light-9: 53, 92%, 50%;
  --rc-yellow-light-10: 50, 100%, 48.5%;
  --rc-yellow-light-11: 42, 100%, 29%;
  --rc-yellow-light-12: 40, 55%, 13.5%;
  --rc-yellow-dark-1: 45, 100%, 5.5%;
  --rc-yellow-dark-2: 46, 100%, 6.7%;
  --rc-yellow-dark-3: 45, 100%, 8.7%;
  --rc-yellow-dark-4: 45, 100%, 10.4%;
  --rc-yellow-dark-5: 47, 100%, 12.1%;
  --rc-yellow-dark-6: 49, 100%, 14.3%;
  --rc-yellow-dark-7: 49, 90.3%, 18.4%;
  --rc-yellow-dark-8: 50, 100%, 22%;
  --rc-yellow-dark-9: 53, 92%, 50%;
  --rc-yellow-dark-10: 54, 100%, 68%;
  --rc-yellow-dark-11: 48, 100%, 47%;
  --rc-yellow-dark-12: 53, 100%, 91%;
}

:root {
  /* amber */
  --rc-amber-auto-1: var(--rc-amber-light-1);
  --rc-amber-auto-2: var(--rc-amber-light-2);
  --rc-amber-auto-3: var(--rc-amber-light-3);
  --rc-amber-auto-4: var(--rc-amber-light-4);
  --rc-amber-auto-5: var(--rc-amber-light-5);
  --rc-amber-auto-6: var(--rc-amber-light-6);
  --rc-amber-auto-7: var(--rc-amber-light-7);
  --rc-amber-auto-8: var(--rc-amber-light-8);
  --rc-amber-auto-9: var(--rc-amber-light-9);
  --rc-amber-auto-10: var(--rc-amber-light-10);
  --rc-amber-auto-11: var(--rc-amber-light-11);
  --rc-amber-auto-12: var(--rc-amber-light-12);
  /* blue */
  --rc-blue-auto-1: var(--rc-blue-light-1);
  --rc-blue-auto-2: var(--rc-blue-light-2);
  --rc-blue-auto-3: var(--rc-blue-light-3);
  --rc-blue-auto-4: var(--rc-blue-light-4);
  --rc-blue-auto-5: var(--rc-blue-light-5);
  --rc-blue-auto-6: var(--rc-blue-light-6);
  --rc-blue-auto-7: var(--rc-blue-light-7);
  --rc-blue-auto-8: var(--rc-blue-light-8);
  --rc-blue-auto-9: var(--rc-blue-light-9);
  --rc-blue-auto-10: var(--rc-blue-light-10);
  --rc-blue-auto-11: var(--rc-blue-light-11);
  --rc-blue-auto-12: var(--rc-blue-light-12);
  /* bronze */
  --rc-bronze-auto-1: var(--rc-bronze-light-1);
  --rc-bronze-auto-2: var(--rc-bronze-light-2);
  --rc-bronze-auto-3: var(--rc-bronze-light-3);
  --rc-bronze-auto-4: var(--rc-bronze-light-4);
  --rc-bronze-auto-5: var(--rc-bronze-light-5);
  --rc-bronze-auto-6: var(--rc-bronze-light-6);
  --rc-bronze-auto-7: var(--rc-bronze-light-7);
  --rc-bronze-auto-8: var(--rc-bronze-light-8);
  --rc-bronze-auto-9: var(--rc-bronze-light-9);
  --rc-bronze-auto-10: var(--rc-bronze-light-10);
  --rc-bronze-auto-11: var(--rc-bronze-light-11);
  --rc-bronze-auto-12: var(--rc-bronze-light-12);
  /* brown */
  --rc-brown-auto-1: var(--rc-brown-light-1);
  --rc-brown-auto-2: var(--rc-brown-light-2);
  --rc-brown-auto-3: var(--rc-brown-light-3);
  --rc-brown-auto-4: var(--rc-brown-light-4);
  --rc-brown-auto-5: var(--rc-brown-light-5);
  --rc-brown-auto-6: var(--rc-brown-light-6);
  --rc-brown-auto-7: var(--rc-brown-light-7);
  --rc-brown-auto-8: var(--rc-brown-light-8);
  --rc-brown-auto-9: var(--rc-brown-light-9);
  --rc-brown-auto-10: var(--rc-brown-light-10);
  --rc-brown-auto-11: var(--rc-brown-light-11);
  --rc-brown-auto-12: var(--rc-brown-light-12);
  /* crimson */
  --rc-crimson-auto-1: var(--rc-crimson-light-1);
  --rc-crimson-auto-2: var(--rc-crimson-light-2);
  --rc-crimson-auto-3: var(--rc-crimson-light-3);
  --rc-crimson-auto-4: var(--rc-crimson-light-4);
  --rc-crimson-auto-5: var(--rc-crimson-light-5);
  --rc-crimson-auto-6: var(--rc-crimson-light-6);
  --rc-crimson-auto-7: var(--rc-crimson-light-7);
  --rc-crimson-auto-8: var(--rc-crimson-light-8);
  --rc-crimson-auto-9: var(--rc-crimson-light-9);
  --rc-crimson-auto-10: var(--rc-crimson-light-10);
  --rc-crimson-auto-11: var(--rc-crimson-light-11);
  --rc-crimson-auto-12: var(--rc-crimson-light-12);
  /* cyan */
  --rc-cyan-auto-1: var(--rc-cyan-light-1);
  --rc-cyan-auto-2: var(--rc-cyan-light-2);
  --rc-cyan-auto-3: var(--rc-cyan-light-3);
  --rc-cyan-auto-4: var(--rc-cyan-light-4);
  --rc-cyan-auto-5: var(--rc-cyan-light-5);
  --rc-cyan-auto-6: var(--rc-cyan-light-6);
  --rc-cyan-auto-7: var(--rc-cyan-light-7);
  --rc-cyan-auto-8: var(--rc-cyan-light-8);
  --rc-cyan-auto-9: var(--rc-cyan-light-9);
  --rc-cyan-auto-10: var(--rc-cyan-light-10);
  --rc-cyan-auto-11: var(--rc-cyan-light-11);
  --rc-cyan-auto-12: var(--rc-cyan-light-12);
  /* gold */
  --rc-gold-auto-1: var(--rc-gold-light-1);
  --rc-gold-auto-2: var(--rc-gold-light-2);
  --rc-gold-auto-3: var(--rc-gold-light-3);
  --rc-gold-auto-4: var(--rc-gold-light-4);
  --rc-gold-auto-5: var(--rc-gold-light-5);
  --rc-gold-auto-6: var(--rc-gold-light-6);
  --rc-gold-auto-7: var(--rc-gold-light-7);
  --rc-gold-auto-8: var(--rc-gold-light-8);
  --rc-gold-auto-9: var(--rc-gold-light-9);
  --rc-gold-auto-10: var(--rc-gold-light-10);
  --rc-gold-auto-11: var(--rc-gold-light-11);
  --rc-gold-auto-12: var(--rc-gold-light-12);
  /* grass */
  --rc-grass-auto-1: var(--rc-grass-light-1);
  --rc-grass-auto-2: var(--rc-grass-light-2);
  --rc-grass-auto-3: var(--rc-grass-light-3);
  --rc-grass-auto-4: var(--rc-grass-light-4);
  --rc-grass-auto-5: var(--rc-grass-light-5);
  --rc-grass-auto-6: var(--rc-grass-light-6);
  --rc-grass-auto-7: var(--rc-grass-light-7);
  --rc-grass-auto-8: var(--rc-grass-light-8);
  --rc-grass-auto-9: var(--rc-grass-light-9);
  --rc-grass-auto-10: var(--rc-grass-light-10);
  --rc-grass-auto-11: var(--rc-grass-light-11);
  --rc-grass-auto-12: var(--rc-grass-light-12);
  /* gray */
  --rc-gray-auto-1: var(--rc-gray-light-1);
  --rc-gray-auto-2: var(--rc-gray-light-2);
  --rc-gray-auto-3: var(--rc-gray-light-3);
  --rc-gray-auto-4: var(--rc-gray-light-4);
  --rc-gray-auto-5: var(--rc-gray-light-5);
  --rc-gray-auto-6: var(--rc-gray-light-6);
  --rc-gray-auto-7: var(--rc-gray-light-7);
  --rc-gray-auto-8: var(--rc-gray-light-8);
  --rc-gray-auto-9: var(--rc-gray-light-9);
  --rc-gray-auto-10: var(--rc-gray-light-10);
  --rc-gray-auto-11: var(--rc-gray-light-11);
  --rc-gray-auto-12: var(--rc-gray-light-12);
  /* green */
  --rc-green-auto-1: var(--rc-green-light-1);
  --rc-green-auto-2: var(--rc-green-light-2);
  --rc-green-auto-3: var(--rc-green-light-3);
  --rc-green-auto-4: var(--rc-green-light-4);
  --rc-green-auto-5: var(--rc-green-light-5);
  --rc-green-auto-6: var(--rc-green-light-6);
  --rc-green-auto-7: var(--rc-green-light-7);
  --rc-green-auto-8: var(--rc-green-light-8);
  --rc-green-auto-9: var(--rc-green-light-9);
  --rc-green-auto-10: var(--rc-green-light-10);
  --rc-green-auto-11: var(--rc-green-light-11);
  --rc-green-auto-12: var(--rc-green-light-12);
  /* indigo */
  --rc-indigo-auto-1: var(--rc-indigo-light-1);
  --rc-indigo-auto-2: var(--rc-indigo-light-2);
  --rc-indigo-auto-3: var(--rc-indigo-light-3);
  --rc-indigo-auto-4: var(--rc-indigo-light-4);
  --rc-indigo-auto-5: var(--rc-indigo-light-5);
  --rc-indigo-auto-6: var(--rc-indigo-light-6);
  --rc-indigo-auto-7: var(--rc-indigo-light-7);
  --rc-indigo-auto-8: var(--rc-indigo-light-8);
  --rc-indigo-auto-9: var(--rc-indigo-light-9);
  --rc-indigo-auto-10: var(--rc-indigo-light-10);
  --rc-indigo-auto-11: var(--rc-indigo-light-11);
  --rc-indigo-auto-12: var(--rc-indigo-light-12);
  /* lime */
  --rc-lime-auto-1: var(--rc-lime-light-1);
  --rc-lime-auto-2: var(--rc-lime-light-2);
  --rc-lime-auto-3: var(--rc-lime-light-3);
  --rc-lime-auto-4: var(--rc-lime-light-4);
  --rc-lime-auto-5: var(--rc-lime-light-5);
  --rc-lime-auto-6: var(--rc-lime-light-6);
  --rc-lime-auto-7: var(--rc-lime-light-7);
  --rc-lime-auto-8: var(--rc-lime-light-8);
  --rc-lime-auto-9: var(--rc-lime-light-9);
  --rc-lime-auto-10: var(--rc-lime-light-10);
  --rc-lime-auto-11: var(--rc-lime-light-11);
  --rc-lime-auto-12: var(--rc-lime-light-12);
  /* mauve */
  --rc-mauve-auto-1: var(--rc-mauve-light-1);
  --rc-mauve-auto-2: var(--rc-mauve-light-2);
  --rc-mauve-auto-3: var(--rc-mauve-light-3);
  --rc-mauve-auto-4: var(--rc-mauve-light-4);
  --rc-mauve-auto-5: var(--rc-mauve-light-5);
  --rc-mauve-auto-6: var(--rc-mauve-light-6);
  --rc-mauve-auto-7: var(--rc-mauve-light-7);
  --rc-mauve-auto-8: var(--rc-mauve-light-8);
  --rc-mauve-auto-9: var(--rc-mauve-light-9);
  --rc-mauve-auto-10: var(--rc-mauve-light-10);
  --rc-mauve-auto-11: var(--rc-mauve-light-11);
  --rc-mauve-auto-12: var(--rc-mauve-light-12);
  /* mint */
  --rc-mint-auto-1: var(--rc-mint-light-1);
  --rc-mint-auto-2: var(--rc-mint-light-2);
  --rc-mint-auto-3: var(--rc-mint-light-3);
  --rc-mint-auto-4: var(--rc-mint-light-4);
  --rc-mint-auto-5: var(--rc-mint-light-5);
  --rc-mint-auto-6: var(--rc-mint-light-6);
  --rc-mint-auto-7: var(--rc-mint-light-7);
  --rc-mint-auto-8: var(--rc-mint-light-8);
  --rc-mint-auto-9: var(--rc-mint-light-9);
  --rc-mint-auto-10: var(--rc-mint-light-10);
  --rc-mint-auto-11: var(--rc-mint-light-11);
  --rc-mint-auto-12: var(--rc-mint-light-12);
  /* olive */
  --rc-olive-auto-1: var(--rc-olive-light-1);
  --rc-olive-auto-2: var(--rc-olive-light-2);
  --rc-olive-auto-3: var(--rc-olive-light-3);
  --rc-olive-auto-4: var(--rc-olive-light-4);
  --rc-olive-auto-5: var(--rc-olive-light-5);
  --rc-olive-auto-6: var(--rc-olive-light-6);
  --rc-olive-auto-7: var(--rc-olive-light-7);
  --rc-olive-auto-8: var(--rc-olive-light-8);
  --rc-olive-auto-9: var(--rc-olive-light-9);
  --rc-olive-auto-10: var(--rc-olive-light-10);
  --rc-olive-auto-11: var(--rc-olive-light-11);
  --rc-olive-auto-12: var(--rc-olive-light-12);
  /* orange */
  --rc-orange-auto-1: var(--rc-orange-light-1);
  --rc-orange-auto-2: var(--rc-orange-light-2);
  --rc-orange-auto-3: var(--rc-orange-light-3);
  --rc-orange-auto-4: var(--rc-orange-light-4);
  --rc-orange-auto-5: var(--rc-orange-light-5);
  --rc-orange-auto-6: var(--rc-orange-light-6);
  --rc-orange-auto-7: var(--rc-orange-light-7);
  --rc-orange-auto-8: var(--rc-orange-light-8);
  --rc-orange-auto-9: var(--rc-orange-light-9);
  --rc-orange-auto-10: var(--rc-orange-light-10);
  --rc-orange-auto-11: var(--rc-orange-light-11);
  --rc-orange-auto-12: var(--rc-orange-light-12);
  /* pink */
  --rc-pink-auto-1: var(--rc-pink-light-1);
  --rc-pink-auto-2: var(--rc-pink-light-2);
  --rc-pink-auto-3: var(--rc-pink-light-3);
  --rc-pink-auto-4: var(--rc-pink-light-4);
  --rc-pink-auto-5: var(--rc-pink-light-5);
  --rc-pink-auto-6: var(--rc-pink-light-6);
  --rc-pink-auto-7: var(--rc-pink-light-7);
  --rc-pink-auto-8: var(--rc-pink-light-8);
  --rc-pink-auto-9: var(--rc-pink-light-9);
  --rc-pink-auto-10: var(--rc-pink-light-10);
  --rc-pink-auto-11: var(--rc-pink-light-11);
  --rc-pink-auto-12: var(--rc-pink-light-12);
  /* plum */
  --rc-plum-auto-1: var(--rc-plum-light-1);
  --rc-plum-auto-2: var(--rc-plum-light-2);
  --rc-plum-auto-3: var(--rc-plum-light-3);
  --rc-plum-auto-4: var(--rc-plum-light-4);
  --rc-plum-auto-5: var(--rc-plum-light-5);
  --rc-plum-auto-6: var(--rc-plum-light-6);
  --rc-plum-auto-7: var(--rc-plum-light-7);
  --rc-plum-auto-8: var(--rc-plum-light-8);
  --rc-plum-auto-9: var(--rc-plum-light-9);
  --rc-plum-auto-10: var(--rc-plum-light-10);
  --rc-plum-auto-11: var(--rc-plum-light-11);
  --rc-plum-auto-12: var(--rc-plum-light-12);
  /* purple */
  --rc-purple-auto-1: var(--rc-purple-light-1);
  --rc-purple-auto-2: var(--rc-purple-light-2);
  --rc-purple-auto-3: var(--rc-purple-light-3);
  --rc-purple-auto-4: var(--rc-purple-light-4);
  --rc-purple-auto-5: var(--rc-purple-light-5);
  --rc-purple-auto-6: var(--rc-purple-light-6);
  --rc-purple-auto-7: var(--rc-purple-light-7);
  --rc-purple-auto-8: var(--rc-purple-light-8);
  --rc-purple-auto-9: var(--rc-purple-light-9);
  --rc-purple-auto-10: var(--rc-purple-light-10);
  --rc-purple-auto-11: var(--rc-purple-light-11);
  --rc-purple-auto-12: var(--rc-purple-light-12);
  /* red */
  --rc-red-auto-1: var(--rc-red-light-1);
  --rc-red-auto-2: var(--rc-red-light-2);
  --rc-red-auto-3: var(--rc-red-light-3);
  --rc-red-auto-4: var(--rc-red-light-4);
  --rc-red-auto-5: var(--rc-red-light-5);
  --rc-red-auto-6: var(--rc-red-light-6);
  --rc-red-auto-7: var(--rc-red-light-7);
  --rc-red-auto-8: var(--rc-red-light-8);
  --rc-red-auto-9: var(--rc-red-light-9);
  --rc-red-auto-10: var(--rc-red-light-10);
  --rc-red-auto-11: var(--rc-red-light-11);
  --rc-red-auto-12: var(--rc-red-light-12);
  /* sage */
  --rc-sage-auto-1: var(--rc-sage-light-1);
  --rc-sage-auto-2: var(--rc-sage-light-2);
  --rc-sage-auto-3: var(--rc-sage-light-3);
  --rc-sage-auto-4: var(--rc-sage-light-4);
  --rc-sage-auto-5: var(--rc-sage-light-5);
  --rc-sage-auto-6: var(--rc-sage-light-6);
  --rc-sage-auto-7: var(--rc-sage-light-7);
  --rc-sage-auto-8: var(--rc-sage-light-8);
  --rc-sage-auto-9: var(--rc-sage-light-9);
  --rc-sage-auto-10: var(--rc-sage-light-10);
  --rc-sage-auto-11: var(--rc-sage-light-11);
  --rc-sage-auto-12: var(--rc-sage-light-12);
  /* sand */
  --rc-sand-auto-1: var(--rc-sand-light-1);
  --rc-sand-auto-2: var(--rc-sand-light-2);
  --rc-sand-auto-3: var(--rc-sand-light-3);
  --rc-sand-auto-4: var(--rc-sand-light-4);
  --rc-sand-auto-5: var(--rc-sand-light-5);
  --rc-sand-auto-6: var(--rc-sand-light-6);
  --rc-sand-auto-7: var(--rc-sand-light-7);
  --rc-sand-auto-8: var(--rc-sand-light-8);
  --rc-sand-auto-9: var(--rc-sand-light-9);
  --rc-sand-auto-10: var(--rc-sand-light-10);
  --rc-sand-auto-11: var(--rc-sand-light-11);
  --rc-sand-auto-12: var(--rc-sand-light-12);
  /* sky */
  --rc-sky-auto-1: var(--rc-sky-light-1);
  --rc-sky-auto-2: var(--rc-sky-light-2);
  --rc-sky-auto-3: var(--rc-sky-light-3);
  --rc-sky-auto-4: var(--rc-sky-light-4);
  --rc-sky-auto-5: var(--rc-sky-light-5);
  --rc-sky-auto-6: var(--rc-sky-light-6);
  --rc-sky-auto-7: var(--rc-sky-light-7);
  --rc-sky-auto-8: var(--rc-sky-light-8);
  --rc-sky-auto-9: var(--rc-sky-light-9);
  --rc-sky-auto-10: var(--rc-sky-light-10);
  --rc-sky-auto-11: var(--rc-sky-light-11);
  --rc-sky-auto-12: var(--rc-sky-light-12);
  /* slate */
  --rc-slate-auto-1: var(--rc-slate-light-1);
  --rc-slate-auto-2: var(--rc-slate-light-2);
  --rc-slate-auto-3: var(--rc-slate-light-3);
  --rc-slate-auto-4: var(--rc-slate-light-4);
  --rc-slate-auto-5: var(--rc-slate-light-5);
  --rc-slate-auto-6: var(--rc-slate-light-6);
  --rc-slate-auto-7: var(--rc-slate-light-7);
  --rc-slate-auto-8: var(--rc-slate-light-8);
  --rc-slate-auto-9: var(--rc-slate-light-9);
  --rc-slate-auto-10: var(--rc-slate-light-10);
  --rc-slate-auto-11: var(--rc-slate-light-11);
  --rc-slate-auto-12: var(--rc-slate-light-12);
  /* teal */
  --rc-teal-auto-1: var(--rc-teal-light-1);
  --rc-teal-auto-2: var(--rc-teal-light-2);
  --rc-teal-auto-3: var(--rc-teal-light-3);
  --rc-teal-auto-4: var(--rc-teal-light-4);
  --rc-teal-auto-5: var(--rc-teal-light-5);
  --rc-teal-auto-6: var(--rc-teal-light-6);
  --rc-teal-auto-7: var(--rc-teal-light-7);
  --rc-teal-auto-8: var(--rc-teal-light-8);
  --rc-teal-auto-9: var(--rc-teal-light-9);
  --rc-teal-auto-10: var(--rc-teal-light-10);
  --rc-teal-auto-11: var(--rc-teal-light-11);
  --rc-teal-auto-12: var(--rc-teal-light-12);
  /* tomato */
  --rc-tomato-auto-1: var(--rc-tomato-light-1);
  --rc-tomato-auto-2: var(--rc-tomato-light-2);
  --rc-tomato-auto-3: var(--rc-tomato-light-3);
  --rc-tomato-auto-4: var(--rc-tomato-light-4);
  --rc-tomato-auto-5: var(--rc-tomato-light-5);
  --rc-tomato-auto-6: var(--rc-tomato-light-6);
  --rc-tomato-auto-7: var(--rc-tomato-light-7);
  --rc-tomato-auto-8: var(--rc-tomato-light-8);
  --rc-tomato-auto-9: var(--rc-tomato-light-9);
  --rc-tomato-auto-10: var(--rc-tomato-light-10);
  --rc-tomato-auto-11: var(--rc-tomato-light-11);
  --rc-tomato-auto-12: var(--rc-tomato-light-12);
  /* violet */
  --rc-violet-auto-1: var(--rc-violet-light-1);
  --rc-violet-auto-2: var(--rc-violet-light-2);
  --rc-violet-auto-3: var(--rc-violet-light-3);
  --rc-violet-auto-4: var(--rc-violet-light-4);
  --rc-violet-auto-5: var(--rc-violet-light-5);
  --rc-violet-auto-6: var(--rc-violet-light-6);
  --rc-violet-auto-7: var(--rc-violet-light-7);
  --rc-violet-auto-8: var(--rc-violet-light-8);
  --rc-violet-auto-9: var(--rc-violet-light-9);
  --rc-violet-auto-10: var(--rc-violet-light-10);
  --rc-violet-auto-11: var(--rc-violet-light-11);
  --rc-violet-auto-12: var(--rc-violet-light-12);
  /* yellow */
  --rc-yellow-auto-1: var(--rc-yellow-light-1);
  --rc-yellow-auto-2: var(--rc-yellow-light-2);
  --rc-yellow-auto-3: var(--rc-yellow-light-3);
  --rc-yellow-auto-4: var(--rc-yellow-light-4);
  --rc-yellow-auto-5: var(--rc-yellow-light-5);
  --rc-yellow-auto-6: var(--rc-yellow-light-6);
  --rc-yellow-auto-7: var(--rc-yellow-light-7);
  --rc-yellow-auto-8: var(--rc-yellow-light-8);
  --rc-yellow-auto-9: var(--rc-yellow-light-9);
  --rc-yellow-auto-10: var(--rc-yellow-light-10);
  --rc-yellow-auto-11: var(--rc-yellow-light-11);
  --rc-yellow-auto-12: var(--rc-yellow-light-12);
}

.dark:root {
  /* amberDark */
  --rc-amber-auto-1: var(--rc-amber-dark-1);
  --rc-amber-auto-2: var(--rc-amber-dark-2);
  --rc-amber-auto-3: var(--rc-amber-dark-3);
  --rc-amber-auto-4: var(--rc-amber-dark-4);
  --rc-amber-auto-5: var(--rc-amber-dark-5);
  --rc-amber-auto-6: var(--rc-amber-dark-6);
  --rc-amber-auto-7: var(--rc-amber-dark-7);
  --rc-amber-auto-8: var(--rc-amber-dark-8);
  --rc-amber-auto-9: var(--rc-amber-dark-9);
  --rc-amber-auto-10: var(--rc-amber-dark-10);
  --rc-amber-auto-11: var(--rc-amber-dark-11);
  --rc-amber-auto-12: var(--rc-amber-dark-12);
  /* blueDark */
  --rc-blue-auto-1: var(--rc-blue-dark-1);
  --rc-blue-auto-2: var(--rc-blue-dark-2);
  --rc-blue-auto-3: var(--rc-blue-dark-3);
  --rc-blue-auto-4: var(--rc-blue-dark-4);
  --rc-blue-auto-5: var(--rc-blue-dark-5);
  --rc-blue-auto-6: var(--rc-blue-dark-6);
  --rc-blue-auto-7: var(--rc-blue-dark-7);
  --rc-blue-auto-8: var(--rc-blue-dark-8);
  --rc-blue-auto-9: var(--rc-blue-dark-9);
  --rc-blue-auto-10: var(--rc-blue-dark-10);
  --rc-blue-auto-11: var(--rc-blue-dark-11);
  --rc-blue-auto-12: var(--rc-blue-dark-12);
  /* bronzeDark */
  --rc-bronze-auto-1: var(--rc-bronze-dark-1);
  --rc-bronze-auto-2: var(--rc-bronze-dark-2);
  --rc-bronze-auto-3: var(--rc-bronze-dark-3);
  --rc-bronze-auto-4: var(--rc-bronze-dark-4);
  --rc-bronze-auto-5: var(--rc-bronze-dark-5);
  --rc-bronze-auto-6: var(--rc-bronze-dark-6);
  --rc-bronze-auto-7: var(--rc-bronze-dark-7);
  --rc-bronze-auto-8: var(--rc-bronze-dark-8);
  --rc-bronze-auto-9: var(--rc-bronze-dark-9);
  --rc-bronze-auto-10: var(--rc-bronze-dark-10);
  --rc-bronze-auto-11: var(--rc-bronze-dark-11);
  --rc-bronze-auto-12: var(--rc-bronze-dark-12);
  /* brownDark */
  --rc-brown-auto-1: var(--rc-brown-dark-1);
  --rc-brown-auto-2: var(--rc-brown-dark-2);
  --rc-brown-auto-3: var(--rc-brown-dark-3);
  --rc-brown-auto-4: var(--rc-brown-dark-4);
  --rc-brown-auto-5: var(--rc-brown-dark-5);
  --rc-brown-auto-6: var(--rc-brown-dark-6);
  --rc-brown-auto-7: var(--rc-brown-dark-7);
  --rc-brown-auto-8: var(--rc-brown-dark-8);
  --rc-brown-auto-9: var(--rc-brown-dark-9);
  --rc-brown-auto-10: var(--rc-brown-dark-10);
  --rc-brown-auto-11: var(--rc-brown-dark-11);
  --rc-brown-auto-12: var(--rc-brown-dark-12);
  /* crimsonDark */
  --rc-crimson-auto-1: var(--rc-crimson-dark-1);
  --rc-crimson-auto-2: var(--rc-crimson-dark-2);
  --rc-crimson-auto-3: var(--rc-crimson-dark-3);
  --rc-crimson-auto-4: var(--rc-crimson-dark-4);
  --rc-crimson-auto-5: var(--rc-crimson-dark-5);
  --rc-crimson-auto-6: var(--rc-crimson-dark-6);
  --rc-crimson-auto-7: var(--rc-crimson-dark-7);
  --rc-crimson-auto-8: var(--rc-crimson-dark-8);
  --rc-crimson-auto-9: var(--rc-crimson-dark-9);
  --rc-crimson-auto-10: var(--rc-crimson-dark-10);
  --rc-crimson-auto-11: var(--rc-crimson-dark-11);
  --rc-crimson-auto-12: var(--rc-crimson-dark-12);
  /* cyanDark */
  --rc-cyan-auto-1: var(--rc-cyan-dark-1);
  --rc-cyan-auto-2: var(--rc-cyan-dark-2);
  --rc-cyan-auto-3: var(--rc-cyan-dark-3);
  --rc-cyan-auto-4: var(--rc-cyan-dark-4);
  --rc-cyan-auto-5: var(--rc-cyan-dark-5);
  --rc-cyan-auto-6: var(--rc-cyan-dark-6);
  --rc-cyan-auto-7: var(--rc-cyan-dark-7);
  --rc-cyan-auto-8: var(--rc-cyan-dark-8);
  --rc-cyan-auto-9: var(--rc-cyan-dark-9);
  --rc-cyan-auto-10: var(--rc-cyan-dark-10);
  --rc-cyan-auto-11: var(--rc-cyan-dark-11);
  --rc-cyan-auto-12: var(--rc-cyan-dark-12);
  /* goldDark */
  --rc-gold-auto-1: var(--rc-gold-dark-1);
  --rc-gold-auto-2: var(--rc-gold-dark-2);
  --rc-gold-auto-3: var(--rc-gold-dark-3);
  --rc-gold-auto-4: var(--rc-gold-dark-4);
  --rc-gold-auto-5: var(--rc-gold-dark-5);
  --rc-gold-auto-6: var(--rc-gold-dark-6);
  --rc-gold-auto-7: var(--rc-gold-dark-7);
  --rc-gold-auto-8: var(--rc-gold-dark-8);
  --rc-gold-auto-9: var(--rc-gold-dark-9);
  --rc-gold-auto-10: var(--rc-gold-dark-10);
  --rc-gold-auto-11: var(--rc-gold-dark-11);
  --rc-gold-auto-12: var(--rc-gold-dark-12);
  /* grassDark */
  --rc-grass-auto-1: var(--rc-grass-dark-1);
  --rc-grass-auto-2: var(--rc-grass-dark-2);
  --rc-grass-auto-3: var(--rc-grass-dark-3);
  --rc-grass-auto-4: var(--rc-grass-dark-4);
  --rc-grass-auto-5: var(--rc-grass-dark-5);
  --rc-grass-auto-6: var(--rc-grass-dark-6);
  --rc-grass-auto-7: var(--rc-grass-dark-7);
  --rc-grass-auto-8: var(--rc-grass-dark-8);
  --rc-grass-auto-9: var(--rc-grass-dark-9);
  --rc-grass-auto-10: var(--rc-grass-dark-10);
  --rc-grass-auto-11: var(--rc-grass-dark-11);
  --rc-grass-auto-12: var(--rc-grass-dark-12);
  /* grayDark */
  --rc-gray-auto-1: var(--rc-gray-dark-1);
  --rc-gray-auto-2: var(--rc-gray-dark-2);
  --rc-gray-auto-3: var(--rc-gray-dark-3);
  --rc-gray-auto-4: var(--rc-gray-dark-4);
  --rc-gray-auto-5: var(--rc-gray-dark-5);
  --rc-gray-auto-6: var(--rc-gray-dark-6);
  --rc-gray-auto-7: var(--rc-gray-dark-7);
  --rc-gray-auto-8: var(--rc-gray-dark-8);
  --rc-gray-auto-9: var(--rc-gray-dark-9);
  --rc-gray-auto-10: var(--rc-gray-dark-10);
  --rc-gray-auto-11: var(--rc-gray-dark-11);
  --rc-gray-auto-12: var(--rc-gray-dark-12);
  /* greenDark */
  --rc-green-auto-1: var(--rc-green-dark-1);
  --rc-green-auto-2: var(--rc-green-dark-2);
  --rc-green-auto-3: var(--rc-green-dark-3);
  --rc-green-auto-4: var(--rc-green-dark-4);
  --rc-green-auto-5: var(--rc-green-dark-5);
  --rc-green-auto-6: var(--rc-green-dark-6);
  --rc-green-auto-7: var(--rc-green-dark-7);
  --rc-green-auto-8: var(--rc-green-dark-8);
  --rc-green-auto-9: var(--rc-green-dark-9);
  --rc-green-auto-10: var(--rc-green-dark-10);
  --rc-green-auto-11: var(--rc-green-dark-11);
  --rc-green-auto-12: var(--rc-green-dark-12);
  /* indigoDark */
  --rc-indigo-auto-1: var(--rc-indigo-dark-1);
  --rc-indigo-auto-2: var(--rc-indigo-dark-2);
  --rc-indigo-auto-3: var(--rc-indigo-dark-3);
  --rc-indigo-auto-4: var(--rc-indigo-dark-4);
  --rc-indigo-auto-5: var(--rc-indigo-dark-5);
  --rc-indigo-auto-6: var(--rc-indigo-dark-6);
  --rc-indigo-auto-7: var(--rc-indigo-dark-7);
  --rc-indigo-auto-8: var(--rc-indigo-dark-8);
  --rc-indigo-auto-9: var(--rc-indigo-dark-9);
  --rc-indigo-auto-10: var(--rc-indigo-dark-10);
  --rc-indigo-auto-11: var(--rc-indigo-dark-11);
  --rc-indigo-auto-12: var(--rc-indigo-dark-12);
  /* limeDark */
  --rc-lime-auto-1: var(--rc-lime-dark-1);
  --rc-lime-auto-2: var(--rc-lime-dark-2);
  --rc-lime-auto-3: var(--rc-lime-dark-3);
  --rc-lime-auto-4: var(--rc-lime-dark-4);
  --rc-lime-auto-5: var(--rc-lime-dark-5);
  --rc-lime-auto-6: var(--rc-lime-dark-6);
  --rc-lime-auto-7: var(--rc-lime-dark-7);
  --rc-lime-auto-8: var(--rc-lime-dark-8);
  --rc-lime-auto-9: var(--rc-lime-dark-9);
  --rc-lime-auto-10: var(--rc-lime-dark-10);
  --rc-lime-auto-11: var(--rc-lime-dark-11);
  --rc-lime-auto-12: var(--rc-lime-dark-12);
  /* mauveDark */
  --rc-mauve-auto-1: var(--rc-mauve-dark-1);
  --rc-mauve-auto-2: var(--rc-mauve-dark-2);
  --rc-mauve-auto-3: var(--rc-mauve-dark-3);
  --rc-mauve-auto-4: var(--rc-mauve-dark-4);
  --rc-mauve-auto-5: var(--rc-mauve-dark-5);
  --rc-mauve-auto-6: var(--rc-mauve-dark-6);
  --rc-mauve-auto-7: var(--rc-mauve-dark-7);
  --rc-mauve-auto-8: var(--rc-mauve-dark-8);
  --rc-mauve-auto-9: var(--rc-mauve-dark-9);
  --rc-mauve-auto-10: var(--rc-mauve-dark-10);
  --rc-mauve-auto-11: var(--rc-mauve-dark-11);
  --rc-mauve-auto-12: var(--rc-mauve-dark-12);
  /* mintDark */
  --rc-mint-auto-1: var(--rc-mint-dark-1);
  --rc-mint-auto-2: var(--rc-mint-dark-2);
  --rc-mint-auto-3: var(--rc-mint-dark-3);
  --rc-mint-auto-4: var(--rc-mint-dark-4);
  --rc-mint-auto-5: var(--rc-mint-dark-5);
  --rc-mint-auto-6: var(--rc-mint-dark-6);
  --rc-mint-auto-7: var(--rc-mint-dark-7);
  --rc-mint-auto-8: var(--rc-mint-dark-8);
  --rc-mint-auto-9: var(--rc-mint-dark-9);
  --rc-mint-auto-10: var(--rc-mint-dark-10);
  --rc-mint-auto-11: var(--rc-mint-dark-11);
  --rc-mint-auto-12: var(--rc-mint-dark-12);
  /* oliveDark */
  --rc-olive-auto-1: var(--rc-olive-dark-1);
  --rc-olive-auto-2: var(--rc-olive-dark-2);
  --rc-olive-auto-3: var(--rc-olive-dark-3);
  --rc-olive-auto-4: var(--rc-olive-dark-4);
  --rc-olive-auto-5: var(--rc-olive-dark-5);
  --rc-olive-auto-6: var(--rc-olive-dark-6);
  --rc-olive-auto-7: var(--rc-olive-dark-7);
  --rc-olive-auto-8: var(--rc-olive-dark-8);
  --rc-olive-auto-9: var(--rc-olive-dark-9);
  --rc-olive-auto-10: var(--rc-olive-dark-10);
  --rc-olive-auto-11: var(--rc-olive-dark-11);
  --rc-olive-auto-12: var(--rc-olive-dark-12);
  /* orangeDark */
  --rc-orange-auto-1: var(--rc-orange-dark-1);
  --rc-orange-auto-2: var(--rc-orange-dark-2);
  --rc-orange-auto-3: var(--rc-orange-dark-3);
  --rc-orange-auto-4: var(--rc-orange-dark-4);
  --rc-orange-auto-5: var(--rc-orange-dark-5);
  --rc-orange-auto-6: var(--rc-orange-dark-6);
  --rc-orange-auto-7: var(--rc-orange-dark-7);
  --rc-orange-auto-8: var(--rc-orange-dark-8);
  --rc-orange-auto-9: var(--rc-orange-dark-9);
  --rc-orange-auto-10: var(--rc-orange-dark-10);
  --rc-orange-auto-11: var(--rc-orange-dark-11);
  --rc-orange-auto-12: var(--rc-orange-dark-12);
  /* pinkDark */
  --rc-pink-auto-1: var(--rc-pink-dark-1);
  --rc-pink-auto-2: var(--rc-pink-dark-2);
  --rc-pink-auto-3: var(--rc-pink-dark-3);
  --rc-pink-auto-4: var(--rc-pink-dark-4);
  --rc-pink-auto-5: var(--rc-pink-dark-5);
  --rc-pink-auto-6: var(--rc-pink-dark-6);
  --rc-pink-auto-7: var(--rc-pink-dark-7);
  --rc-pink-auto-8: var(--rc-pink-dark-8);
  --rc-pink-auto-9: var(--rc-pink-dark-9);
  --rc-pink-auto-10: var(--rc-pink-dark-10);
  --rc-pink-auto-11: var(--rc-pink-dark-11);
  --rc-pink-auto-12: var(--rc-pink-dark-12);
  /* plumDark */
  --rc-plum-auto-1: var(--rc-plum-dark-1);
  --rc-plum-auto-2: var(--rc-plum-dark-2);
  --rc-plum-auto-3: var(--rc-plum-dark-3);
  --rc-plum-auto-4: var(--rc-plum-dark-4);
  --rc-plum-auto-5: var(--rc-plum-dark-5);
  --rc-plum-auto-6: var(--rc-plum-dark-6);
  --rc-plum-auto-7: var(--rc-plum-dark-7);
  --rc-plum-auto-8: var(--rc-plum-dark-8);
  --rc-plum-auto-9: var(--rc-plum-dark-9);
  --rc-plum-auto-10: var(--rc-plum-dark-10);
  --rc-plum-auto-11: var(--rc-plum-dark-11);
  --rc-plum-auto-12: var(--rc-plum-dark-12);
  /* purpleDark */
  --rc-purple-auto-1: var(--rc-purple-dark-1);
  --rc-purple-auto-2: var(--rc-purple-dark-2);
  --rc-purple-auto-3: var(--rc-purple-dark-3);
  --rc-purple-auto-4: var(--rc-purple-dark-4);
  --rc-purple-auto-5: var(--rc-purple-dark-5);
  --rc-purple-auto-6: var(--rc-purple-dark-6);
  --rc-purple-auto-7: var(--rc-purple-dark-7);
  --rc-purple-auto-8: var(--rc-purple-dark-8);
  --rc-purple-auto-9: var(--rc-purple-dark-9);
  --rc-purple-auto-10: var(--rc-purple-dark-10);
  --rc-purple-auto-11: var(--rc-purple-dark-11);
  --rc-purple-auto-12: var(--rc-purple-dark-12);
  /* redDark */
  --rc-red-auto-1: var(--rc-red-dark-1);
  --rc-red-auto-2: var(--rc-red-dark-2);
  --rc-red-auto-3: var(--rc-red-dark-3);
  --rc-red-auto-4: var(--rc-red-dark-4);
  --rc-red-auto-5: var(--rc-red-dark-5);
  --rc-red-auto-6: var(--rc-red-dark-6);
  --rc-red-auto-7: var(--rc-red-dark-7);
  --rc-red-auto-8: var(--rc-red-dark-8);
  --rc-red-auto-9: var(--rc-red-dark-9);
  --rc-red-auto-10: var(--rc-red-dark-10);
  --rc-red-auto-11: var(--rc-red-dark-11);
  --rc-red-auto-12: var(--rc-red-dark-12);
  /* sageDark */
  --rc-sage-auto-1: var(--rc-sage-dark-1);
  --rc-sage-auto-2: var(--rc-sage-dark-2);
  --rc-sage-auto-3: var(--rc-sage-dark-3);
  --rc-sage-auto-4: var(--rc-sage-dark-4);
  --rc-sage-auto-5: var(--rc-sage-dark-5);
  --rc-sage-auto-6: var(--rc-sage-dark-6);
  --rc-sage-auto-7: var(--rc-sage-dark-7);
  --rc-sage-auto-8: var(--rc-sage-dark-8);
  --rc-sage-auto-9: var(--rc-sage-dark-9);
  --rc-sage-auto-10: var(--rc-sage-dark-10);
  --rc-sage-auto-11: var(--rc-sage-dark-11);
  --rc-sage-auto-12: var(--rc-sage-dark-12);
  /* sandDark */
  --rc-sand-auto-1: var(--rc-sand-dark-1);
  --rc-sand-auto-2: var(--rc-sand-dark-2);
  --rc-sand-auto-3: var(--rc-sand-dark-3);
  --rc-sand-auto-4: var(--rc-sand-dark-4);
  --rc-sand-auto-5: var(--rc-sand-dark-5);
  --rc-sand-auto-6: var(--rc-sand-dark-6);
  --rc-sand-auto-7: var(--rc-sand-dark-7);
  --rc-sand-auto-8: var(--rc-sand-dark-8);
  --rc-sand-auto-9: var(--rc-sand-dark-9);
  --rc-sand-auto-10: var(--rc-sand-dark-10);
  --rc-sand-auto-11: var(--rc-sand-dark-11);
  --rc-sand-auto-12: var(--rc-sand-dark-12);
  /* skyDark */
  --rc-sky-auto-1: var(--rc-sky-dark-1);
  --rc-sky-auto-2: var(--rc-sky-dark-2);
  --rc-sky-auto-3: var(--rc-sky-dark-3);
  --rc-sky-auto-4: var(--rc-sky-dark-4);
  --rc-sky-auto-5: var(--rc-sky-dark-5);
  --rc-sky-auto-6: var(--rc-sky-dark-6);
  --rc-sky-auto-7: var(--rc-sky-dark-7);
  --rc-sky-auto-8: var(--rc-sky-dark-8);
  --rc-sky-auto-9: var(--rc-sky-dark-9);
  --rc-sky-auto-10: var(--rc-sky-dark-10);
  --rc-sky-auto-11: var(--rc-sky-dark-11);
  --rc-sky-auto-12: var(--rc-sky-dark-12);
  /* slateDark */
  --rc-slate-auto-1: var(--rc-slate-dark-1);
  --rc-slate-auto-2: var(--rc-slate-dark-2);
  --rc-slate-auto-3: var(--rc-slate-dark-3);
  --rc-slate-auto-4: var(--rc-slate-dark-4);
  --rc-slate-auto-5: var(--rc-slate-dark-5);
  --rc-slate-auto-6: var(--rc-slate-dark-6);
  --rc-slate-auto-7: var(--rc-slate-dark-7);
  --rc-slate-auto-8: var(--rc-slate-dark-8);
  --rc-slate-auto-9: var(--rc-slate-dark-9);
  --rc-slate-auto-10: var(--rc-slate-dark-10);
  --rc-slate-auto-11: var(--rc-slate-dark-11);
  --rc-slate-auto-12: var(--rc-slate-dark-12);
  /* tealDark */
  --rc-teal-auto-1: var(--rc-teal-dark-1);
  --rc-teal-auto-2: var(--rc-teal-dark-2);
  --rc-teal-auto-3: var(--rc-teal-dark-3);
  --rc-teal-auto-4: var(--rc-teal-dark-4);
  --rc-teal-auto-5: var(--rc-teal-dark-5);
  --rc-teal-auto-6: var(--rc-teal-dark-6);
  --rc-teal-auto-7: var(--rc-teal-dark-7);
  --rc-teal-auto-8: var(--rc-teal-dark-8);
  --rc-teal-auto-9: var(--rc-teal-dark-9);
  --rc-teal-auto-10: var(--rc-teal-dark-10);
  --rc-teal-auto-11: var(--rc-teal-dark-11);
  --rc-teal-auto-12: var(--rc-teal-dark-12);
  /* tomatoDark */
  --rc-tomato-auto-1: var(--rc-tomato-dark-1);
  --rc-tomato-auto-2: var(--rc-tomato-dark-2);
  --rc-tomato-auto-3: var(--rc-tomato-dark-3);
  --rc-tomato-auto-4: var(--rc-tomato-dark-4);
  --rc-tomato-auto-5: var(--rc-tomato-dark-5);
  --rc-tomato-auto-6: var(--rc-tomato-dark-6);
  --rc-tomato-auto-7: var(--rc-tomato-dark-7);
  --rc-tomato-auto-8: var(--rc-tomato-dark-8);
  --rc-tomato-auto-9: var(--rc-tomato-dark-9);
  --rc-tomato-auto-10: var(--rc-tomato-dark-10);
  --rc-tomato-auto-11: var(--rc-tomato-dark-11);
  --rc-tomato-auto-12: var(--rc-tomato-dark-12);
  /* violetDark */
  --rc-violet-auto-1: var(--rc-violet-dark-1);
  --rc-violet-auto-2: var(--rc-violet-dark-2);
  --rc-violet-auto-3: var(--rc-violet-dark-3);
  --rc-violet-auto-4: var(--rc-violet-dark-4);
  --rc-violet-auto-5: var(--rc-violet-dark-5);
  --rc-violet-auto-6: var(--rc-violet-dark-6);
  --rc-violet-auto-7: var(--rc-violet-dark-7);
  --rc-violet-auto-8: var(--rc-violet-dark-8);
  --rc-violet-auto-9: var(--rc-violet-dark-9);
  --rc-violet-auto-10: var(--rc-violet-dark-10);
  --rc-violet-auto-11: var(--rc-violet-dark-11);
  --rc-violet-auto-12: var(--rc-violet-dark-12);
  /* yellowDark */
  --rc-yellow-auto-1: var(--rc-yellow-dark-1);
  --rc-yellow-auto-2: var(--rc-yellow-dark-2);
  --rc-yellow-auto-3: var(--rc-yellow-dark-3);
  --rc-yellow-auto-4: var(--rc-yellow-dark-4);
  --rc-yellow-auto-5: var(--rc-yellow-dark-5);
  --rc-yellow-auto-6: var(--rc-yellow-dark-6);
  --rc-yellow-auto-7: var(--rc-yellow-dark-7);
  --rc-yellow-auto-8: var(--rc-yellow-dark-8);
  --rc-yellow-auto-9: var(--rc-yellow-dark-9);
  --rc-yellow-auto-10: var(--rc-yellow-dark-10);
  --rc-yellow-auto-11: var(--rc-yellow-dark-11);
  --rc-yellow-auto-12: var(--rc-yellow-dark-12);
}
